<body style="background-image: url(https://wallpaperaccess.com/full/1282794.jpg); height: 725px; background-repeat: no-repeat;background-size: cover ;">
<div class="row" >

    <div class="col-4"></div>
    <div class="col-4"   >
       <marquee> <H2 style="color:black; margin-top: 20px; margin-left: 30px; font-family: 'Cabin Sketch', cursive; ;font-size: 40px;"><strong>JAS GROUP OF HOSPITALS</strong> </H2></marquee>
        
        
        <form style="margin-top: 210px;" >
            
            <div class="form-group " style="margin-bottom: 20px; ">
              
                <button class="button-84" role="button" (click)="patient()" style="width:500px">PATIENT</button>
            </div>
            <div class="form-group" style="margin-bottom: 20px;">
                <button class="button-84" role="button" (click)="doctor()" style="width:500px">DOCTOR</button>
            </div>
            <div class="form-group " style="margin-bottom: 20px; ">
                <button class="button-84" role="button" (click)="admin()" style="width:500px">HOSPITAL ADMIN</button>
            </div>
            
          </form>
          

    </div>
    <div class="col-4">
        
        
    </div>
</div>
</body>
