<body style="background-image:url() ;">
    <div class="wrapper">
        <div class="logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-mHwzDsV5awRMsvdk57z9SIrTHfwjpFVy5g&usqp=CAU" alt="">
        </div>
        <div class="text-center mt-4 name">
           DOCTOR LOGIN
        </div>
        <form class="p-3 mt-3" (ngSubmit)="login()" [formGroup]="loginform" >
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="doctorname" id="userName" placeholder="Doctor Name" formControlName="doctorname" >
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="doctorid" id="pwd" placeholder="Doctor Id" formControlName="doctorid">
            </div>
            <button class="btn mt-3">Login</button>
        </form>
        <div class="text-center fs-6">
            
        </div>
    </div>
</body>
