<div class="container-fluid px-1 py-5 mx-auto" style="background-image:url(https://thumbs.dreamstime.com/b/doctor-stethoscope-hand-hospital-background-gown-94227568.jpg); color: aliceblue;">
    <div class="row d-flex justify-content-center" >
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center" >
            
            <H3 class="blue-tet">REGISTER HERE</H3>
            <div class="card" style="background-image: url(https://images.alphacoders.com/750/75023.jpg);">
                <h5 class="text-center mb-4">Enter Your Details </h5>
                <form class="form-card" (ngSubmit)="register()" [formGroup]="registerform" >
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">First name<span class="text-danger"> *</span></label> <input type="text" id="fname" name="firstname" placeholder="Enter your first name" formControlName="firstname" > </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Last name<span class="text-danger"> *</span></label> <input type="text" id="lname" name="lastname" placeholder="Enter your last name" formControlName="lastname" > </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Age<span class="text-danger"> *</span></label> <input type="number" id="email" name="age" placeholder="Enter your age" formControlName="age" > </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Phone number<span class="text-danger"> *</span></label> <input type="text" id="mob" name="mobnumber" placeholder="Enter your phonenumber" formControlName="mobnumber"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">EMAIL<span class="text-danger"> *</span></label> <input type="text" id="job" name="email" placeholder="Enter your email " formControlName="email"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">PASSWORD<span class="text-danger"> *</span></label> <input type="text" id="job" name="password" placeholder="Enter your password" formControlName="password"> </div>
                    </div>
                    
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3">ADDRESS<span class="text-danger"> *</span></label> <input type="text" id="ans" name="address" placeholder="Enter your address" formControlName="address"> </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">REGISTER</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
