<body>
    <div class="wrapper">
        <form (ngSubmit)="surgeryadd()" [formGroup]="surgeryform" >
            <div class="h5 font-weight-bold text-center mb-3">Surgery Addition</div>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><span class="far fa-user"></span></div>
                <input autocomplete="off" type="text" class="form-control" placeholder="Surgery Name" formControlName="surname" name="surname">
            </div>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><span class="far fa-envelope"></span></div>
                <input autocomplete="off" type="email" class="form-control" placeholder="Doctor Name" formControlName="drname" name="drname">
            </div>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><span class="fas fa-phone"></span></div>
                <input autocomplete="off" type="tel" class="form-control" placeholder="Surgery Fees" formControlName="surfees" name="surfees">
            </div>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><span class="fas fa-map-marker-alt"></span></div>
                <input autocomplete="off" type="text" class="form-control" placeholder="Surgery Duration in hours" formControlName="surduration" name="surduration">
            </div>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><span class="fas fa-map-marker-alt"></span></div>
                <input autocomplete="off" type="text" class="form-control" placeholder="Surgery ID" formControlName="surid" name="surid">
            </div>
            <div class="form-group d-flex align-items-center">
                <div class="icon"><span class="fas fa-map-marker-alt"></span></div>
                <input autocomplete="off" type="number" class="form-control" placeholder="App id" formControlName="appid" name="appid">
            </div>
            <button type="submit" class="btn btn-primary mb-3" style="margin-left:150px ;">ADD</button>
            
            
        </form>
    </div>
</body>
