<body style="background-image: url();">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="doctordiv">
                <form style=" padding: 10px;" (ngSubmit)="updatedoctor()" [formGroup]="doctorupdategroup">
                    <label style="margin-left: 100px;">Enter the doctor name to be updated</label>
                    <input type="text" class="form-control" style="margin-bottom:20px;" formControlName="drname">
                    <label style="margin-left: 100px;">Enter the new doctorname</label>
                    <input type="text" class="form-control" style="margin-bottom:20px;" formControlName="newdrname">
                    <button type="submit" class="btn btn-info" style="margin-left:200px ;">Update</button>
                </form>
            </div>


            <div class="surgerydiv">
                <form style="margin-top: px;  padding: 10px;" (ngSubmit)="updatesurgery()"
                    [formGroup]="surgeryupdategroup">
                    <label style="margin-top: 20px;margin-left: 100px;">Enter the surgery fee to be updated</label>
                    <input type="text" class="form-control" style="margin-bottom: 20px;" formControlName="surfees">
                    <label style="margin-left: 100px;">Enter the new suregery fee</label>
                    <input type="text" class="form-control" style="margin-bottom:20px;" formControlName="newsurfees">

                    <button type="submit" class="btn btn-info" style="margin-left: 200px;">Update</button>

                </form>
            </div>
            

        </div>
        <div class="col-4"></div>

    </div>
</body>
